doctype html

html
  head
    title Test Matrix UI
    meta(charset='utf-8')
    script(type='text/javascript', src='./bower_components/angular/angular.js')
    script(type='text/javascript', src='./bower_components/marked/lib/marked.js')
    script(type='text/javascript', src='./bower_components/highlightjs/highlight.pack.min.js')
    script(type='text/javascript', src='./dist/matrixui.js')
    script(type='text/javascript', src='./index.js')

    link(rel='stylesheet', type='text/css', href='./index.css')
    link(rel='stylesheet', type='text/css', href='./dist/matrixui.css')

  body(ng-app='testMatrixUIApp')
    a(href="https://github.com/VMatrixTeam/MatrixUI" class="github-ribbon") Fork me on GitHub
    div(ng-controller='testCtrl')
      .docs-title MatrixUI
        a.docs-sub-title(href='https://github.com/VMatrixTeam') @VMatrixTeam

      .docs-wraper
        .docs-container
          .docs-header mu-button
          .docs-content-title 使用文档
          .docs-content
            mu-markdown(ng-model='buttonDocs' content='加载中...')
          .docs-content-title 示例
          .docs-content
            mu-button 测试按钮

      .docs-wraper
        .docs-container
          .docs-header mu-markdown
          .docs-content-title 依赖
          .docs-content marked.js
          .docs-content-title 使用文档
          .docs-content
            mu-markdown(ng-model='markdownDocs')
          .docs-content-title 示例
          .docs-content
            mu-markdown(ng-model='markdown' content='加载中...')
