doctype html
html
  head
    title Test Matrix UI
    meta(charset='utf-8')
    script(type='text/javascript', src='./bower_components/angular/angular.js')
    script(type='text/javascript', src='./bower_components/marked/lib/marked.js')
    script(type='text/javascript', src='./bower_components/highlightjs/highlight.pack.min.js')
    script(type='text/javascript', src='./dist/matrixui.js')
    script(type='text/javascript', src='./index.js')

    link(rel='stylesheet', type='text/css', href='./dist/matrixui.css')

  body(ng-app='testMatrixUIApp')
    div(ng-controller='testCtrl')
      h1 MatrixUI

      h2.header 1. mu-button
      p 用法：
        mu-markdown(content='```html\n<mu-button>测试按钮</mu-button>```\n')
      p 示例：
        mu-button 测试按钮

      h2.header 2. mu-markdown
      p 依赖：marked.js
      p 用法：
        mu-markdown(content='```html\n<mu-markdown content="your markdown content"></mu-markdown>```\n')
      p 示例：
        mu-markdown(ng-model='markdown' content='加载中...')
