/**
 *
 * @author 吴家荣 <jiarongwu.se@foxmail.com>
 *
 */

@import '../../commons/color';

.mu-button {
  border: 0px;
  display: inline-block;
  color: white;
  transition: background-color 0.2s, border 0.2s;
  border-radius: 5px;
  height: 36px;
  line-height: 36px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s;
  }
  &:focus {
    outline: 0;
  }
}

.mu-button-large {

}

.mu-button-middle {

}

.mu-button-small {

}

.mu-button-default {
  background-color: transparent;
  border: 1px solid $borderLight;
  color: black;

  &:hover {
    border: 1px solid $border;
  }
}

.mu-button-primary {
  background-color: $lightCyan;

  &:hover {
    background-color: $cyan;
  }
}

.mu-button-info {
  background-color: $greenLight;

  &:hover {
    background-color: $green;
  }
}

.mu-button-warn {
  background-color: $lightYellow;

  &:hover {
    background-color: $yellow;
  }
}

.mu-button-danger {
  background-color: $lightRed;

  &:hover {
    background-color: $red;
  }
}
