.docs-wrapper
  .docs-container
    a.docs-header(href='/#/#mu-button') mu-button
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='buttonDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-button 测试按钮
