.docs-wrapper
  .docs-container
    a.docs-header(href='/#/#mu-button') mu-button
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='buttonDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-button(default) 测试按钮: default
      mu-button(primary) 测试按钮: primary
      mu-button(info) 测试按钮: info
      mu-button(warn) 测试按钮: warn
      mu-button(danger) 测试按钮: danger
