.docs-wrapper
  .docs-container
    .docs-header mu-mdeditor
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='mdeditorDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-mdeditor(type="simple" id='simpleMDE' ng-model='mdeditorData')
      mu-mdeditor(type="full" id='fullMDE' ng-model='mdeditorData')
