.docs-wrapper
  .docs-container
    a.docs-header(href='/#/#mu-mdeditor') mu-mdeditor
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='mdeditorDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-mdeditor(type="simple" id='simpleMDE' ng-model='mdeditorData' upload-url="/"  upload-field-name="image" json-field-name="downloadUrl")
      mu-mdeditor(type="full" id='fullMDE' content='# full simpleMDE' upload-url="/"  upload-field-name="image" json-field-name="downloadUrl")
