.docs-wrapper
  .docs-container
    a.docs-header(href='/#/#mu-mdeditor') mu-mdeditor
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='mdeditorDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-mdeditor(type="simple small" id='simpleMDE' ng-model='mdeditorData')
      mu-mdeditor(type="full median" id='fullMDE' content='# full simpleMDE')
      mu-mdeditor(type="full large" id='fullMDE' content='# full simpleMDE')
