.docs-wrapper
  .docs-container
    a.docs-header(href='/#/#mu-radio') mu-radio
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='radioDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-radio(value='male', name='sex', size='small')
      | male
      mu-radio(value='female', name='sex', size='small')
      | female
      br
      mu-radio(value='red', name='color', size='big')
      | red
      mu-radio(value='blue', name='color', size='big')
      | blue
