.docs-wrapper
  .docs-container
    a.docs-header(href='/#/#mu-radio') mu-radio
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='radioDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content

      p sex is&nbsp
        span.radio-value {{ radioData.sex }}
      mu-radio-group(name='sex', ng-model='radioData.sex')
        mu-radio(ng-value='radioData.male', size='small') male
        mu-radio(ng-value='radioData.female', size='small') female
      br
      p color is&nbsp
        span.radio-value {{ radioData.color }}
      mu-radio-group(name='color')
        mu-radio(value='red', size='big') red
        mu-radio(value='blue', size='big' checked) blue
