.docs-wrapper
  .docs-container
    a.docs-header(href='#mu-spinner') mu-spinner
    .docs-content-title 使用文档
    .docs-content
      mu-markdown(ng-model='spinnerDocs' content='加载中...')
    .docs-content-title 示例
    .docs-content
      mu-spinner
