.side-menu-wrapper
  .group-header Components
    a.group-item(href='/#/#mu-button' ng-click='chooseHash($event)') mu-button
    a.group-item(href='/#/#mu-markdown' ng-click='chooseHash($event)') mu-markdown
    a.group-item(href='/#/#mu-mdeditor' ng-click='chooseHash($event)') mu-mdeditor
    a.group-item(href='/#/#mu-codeeditor' ng-click='chooseHash($event)') mu-codeeditor
    a.group-item(href='/#/#mu-datatable' ng-click='chooseHash($event)') mu-datatable
    a.group-item(href='/#/#mu-dialog' ng-click='chooseHash($event)') mu-dialog
    a.group-item(href='/#/#mu-radio' ng-click='chooseHash($event)') mu-radio
    a.group-item(href='/#/#mu-select' ng-click='chooseHash($event)') mu-select
    a.group-item(href='/#/#mu-tab' ng-click='chooseHash($event)') mu-tab
    a.group-item(href='/#/#mu-panel' ng-click='chooseHash($event)') mu-panel
    a.group-item(href='/#/#mu-spinner' ng-click='chooseHash($event)') mu-spinner
  .group-header Specials
    a.group-item(href='#mu-report' ng-click='chooseHash($event)') mu-report
