/**
 *
 * @description matrixui配色方案
 * @author 吴家荣 <jiarongwu.se@foxmail.com>
 *
 */

$red: rgba(242, 60, 84, 1);
$lightRed: rgba(242, 60, 84, 0.5);
$yellow: rgba(251, 170, 49, 1);
$lightYellow: rgba(251, 170, 49, 0.5);
$green: #1CD088;
$cyan: #479EA2;
$lightCyan: rgba(71, 158, 162, 0.5);
$blue: #3C67A2;
