/**
 *
 * @description codeeditor组件，代码编辑器
 * @author 吴家荣 <jiarongwu.se@foxmail.com>
 *
 */

.CodeMirror {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.3;
  height: 500px;
}

.CodeMirror-linenumbers {
  padding: 0 8px;
}
